.tools-container {
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
}

.tool-tile {
  display:flex;
  flex: 1 0 350px;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-height: 10rem;
  margin: 5px;
  border: 1px solid rgba(6, 71, 133, .5);
  border-radius: 5px;
  box-shadow: 0 2px 5px #c1c1c1;
}
