.directory-tree {
    padding: 1em;
}

.flex-container-directory {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.flex-item-directory > * {
    padding-right: 1em;
    
}

.glyphicon-folder-close, .glyphicon-folder-open {
    color: #064785;
}
