.directory-tree {
    padding: 1em;
}

.directory-tree.expended .directory-tree, .directory-tree.expended .file-item {
    border-left: 1px solid black;
    transform:translateX(5px);
}

.container-directory {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item-directory > * {
    padding-right: 1em;
}

.file-item {
    padding-left: 1em;
}

.glyphicon-folder-close, .glyphicon-folder-open {
    color: #064785;
}

.module-warnings {
    background-color: #f2dede;
    border-color: #b94a48;
    border: 1px solid;
    border-radius: 4px;
    color: #b94a48;
    float: right;
    margin-bottom: 2px;
    padding: 2px;
}
